.dates-container {
  background-color: white;
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 100px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  min-height: 350px;
}

.header-container {
  display: flex;
  width: 100%;
  margin-bottom: 5px;

  justify-content: center;
  align-items: center;

  div {
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
  }

  ion-icon {
    font-size: 18px;
  }

  .calendar-title {
    min-width: 200px;
    max-width: 200px;
  }

  .arrow {
    width: fit-content;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
  }
}

.date-picker-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .week-days {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: rgb(66, 66, 66);
    margin-bottom: 12px;
    font-family: "sf-pro-regular";
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, auto);
    width: 100%;

    ion-button {
      height: 35px;
      width: 35px;
      --border-radius: 50px;
      &::part(native) {
        background: white;
        &:hover {
          background: rgb(156, 156, 156);
          color: rgba(0, 0, 255, 0.308);
        }
      }
    }
  }

  .month,
  .years {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    ion-button {
      margin: 5px;
    }
  }

  .years {
    margin-top: 20%;
  }

  ion-button {
    font-family: "sf-pro-regular";
    letter-spacing: unset;
    --box-shadow: none;
    --box-shadow: none;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-start: 0;
    margin: 0;

    &.button-disabled {
      --ion-color-contrast: gray !important;
      opacity: 1;
    }
  }
}
